{% extends "base.html" %} {% block title %} Home {% endblock title %} {% block
  stylesheets %}
{{ super() }}
{% endblock stylesheets %} {% block content %}
<!-- Begin Main Content -->
<div class="main-content">
  <form action="/">
    <button id="toHome" title="Go back">
      <i class="fas fa-angle-left"></i>
    </button>
  </form>
  <!-- Begin Work Content -->
  <div class="section-dark art" id="art">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-12">
          <h1 class="title has-text-centered section-title">Art</h1>
        </div>

        {% for key, value in art.items() %}
        <div class="column is-4">
          <a class="modal-button" data-target="#{{key}}">
            <figure class="image is-4by5 art-item"
              style="background-image: url({{ url_for('static', filename='img/art/'+value.filename) }}); width: 100%;"></figure>
          </a>
          <div id="{{key}}" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
              <p class="image is-fullwidth">
                {{value.title}}
                <img src="{{ url_for('static', filename='img/art/'+value.filename) }}" alt="">
                {{value.medium}}
                {{value.description}}
              </p>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- End Main Content -->

{% endblock content %}