<!DOCTYPE html>
<html>

<head>
  {% block head %}
  {% block meta %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  {% endblock meta %}
  <title>Bradley Schwarz</title>
  {% block stylesheets %}
  <!-- Bootstrap CSS-->

  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>


  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
  <script src="https://kit.fontawesome.com/2828f7885a.js"
    integrity="sha384-WAsFbnLEQcpCk8lM1UTWesAf5rGTCvb2Y+8LvyjAAcxK1c3s5c0L+SYOgxvc6PWG"
    crossorigin="anonymous"></script>

  {% endblock stylesheets %}
  <!-- Favicon-->
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">

  {% endblock head %}
</head>

<body>
  {% block body %}
  {% block header %}
  <div>
    {% include "components/preloader.html" %}
    {% include "components/scrollUpButton.html" %}
    {% include "components/header.html" %}
  </div>
  {% endblock header %}

  <div>
    {% block content %}
    <!-- page content -->
    {% endblock content %}
  </div>

  <!-- Javascript files-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
  <script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>
  </script>
  <script>
    AOS.init({
      easing: "ease-out",
      duration: 800,
    });
  </script>
  {% endblock body %}
</body>

</html>