{% extends "base.html" %} {% block title %} Home {% endblock title %} {% block
    stylesheets %}
{{ super() }}
{% endblock stylesheets %} {% block content %}
<!-- Begin Main Content -->
<div class="main-content">
    <!-- Begin About Me Section -->
    <div class="section-dark about-me" id="about-me">
        <div class="container">
            <div class="column is-12 about-me">
                <h1 class="title has-text-centered section-title">About Me</h1>
            </div>
            <div class="columns is-multiline">
                <div class="column is-6 has-vertically-aligned-content" data-aos="fade-right">
                    <p class="is-larger">
                        &emsp;&emsp;<strong>I enjoy creating while re-evaluating the fundamentals.</strong>
                    </p>
                    <br />
                    <p>
                        Making a difficult concept easy to understand, or a complex system simple to use are my areas of intrest.
                        I also find discussions about <i>how we are meant to live as humans</i> fascinating. My hobbies also
                        include hand tool woodworking.
                    </p>
                    <br />
                    <div class="is-divider"></div>
                    <div class="columns about-links">
                        <div class="column">
                            <p class="heading">
                                <strong>Call (but I might not pick up)</strong>
                            </p>
                            <p class="subheading">
                                704-241-2153
                            </p>
                        </div>
                        <div class="column">
                            <p class="heading">
                                <strong>Email</strong>
                            </p>
                            <p class="subheading">
                                bradleyschwarz1@gmail.com
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-6 right-image " data-aos="fade-left">
                    <img class="is-rounded" src="{{ url_for('static', filename='img/workshop.jpg') }}" alt="" />
                </div>
            </div>
        </div>
    </div>
    <!-- End About Me Content -->
    <div class="section-dark resume">
        <div class="container">
            <div class="columns is-multiline" data-aos="fade-in" data-aos-easing="linear">
                <div class="column is-12 about-me">
                    <h1 class="title has-text-centered section-title">
                        View My Resume
                    </h1>
                </div>
                <div class="column is-10 has-text-centered is-offset-1">
                    <form action="/download_resume">
                        <button class="button">
                            Download Resume&emsp;<i class="fad fa-download fa-lg"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Begin Skills Content -->
    <div class="section-dark skills" id="skills">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-12 about-me">
                    <h1 class="title has-text-centered section-title">Skills</h1>
                </div>
                <div class="column is-6" data-aos="fade-in" data-aos-easing="linear">
                    <h1>Python</h1>
                    <progress class="progress" value="85" max="100">30%</progress>
                    <h1>Flask</h1>
                    <progress class="progress" value="89" max="100">30%</progress>
                    <h1>Socketio</h1>
                    <progress class="progress" value="80" max="100">45%</progress>
                    <h1>Qt</h1>
                    <progress class="progress" value="75" max="100">60%</progress>
                </div>
                <div class="column is-6" data-aos="fade-in" data-aos-easing="linear">
                    <h1>UI/UX</h1>
                    <progress class="progress" value="85" max="100">30%</progress>
                    <h1>CSS</h1>
                    <progress class="progress" value="70" max="100">30%</progress>
                    <h1>VueJS</h1>
                    <progress class="progress" value="90" max="100">45%</progress>
                    <h1>Vuetify</h1>
                    <progress class="progress" value="95" max="100">60%</progress>
                </div>
            </div>
        </div>
    </div>
    <!-- End Skills Content -->
    <!-- Begin Work Content -->
    <div class="section-dark my-work" id="my-work">
        <div class="container">
            <div class="columns is-multiline" data-aos="fade-in" data-aos-easing="linear">
                <div class="column is-12">
                    <h1 class="title has-text-centered section-title">My Work</h1>
                </div>
                <div class="column is-4">
                    <a href="#">
                        <figure class="image is-2by1 work-item"
                            style="background-image: url({{ url_for('static', filename='img/QView.png') }});"></figure>
                    </a>
                </div>
                <div class="column is-4">
                    <a href="#">
                        <figure class="image is-2by1 work-item"
                            style="background-image: url({{ url_for('static', filename='img/QAdmin.png') }});"></figure>
                    </a>
                </div>
                <div class="column is-4">
                    <a href="#">
                        <figure class="image is-2by1 work-item"
                            style="background-image: url({{ url_for('static', filename='img/asis_architecture.png') }});"></figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Content -->

{% endblock content %}