{% extends "base.html" %} {% block title %} Home {% endblock title %} {% block
    stylesheets %}
{{ super() }}
{% endblock stylesheets %} {% block content %}
<!-- Begin Main Content -->
<div class="main-content">
    <!-- Begin About Me Section -->
    <div class="section-dark about-me" id="about-me">
        <div class="container">
            <div class="column is-12 about-me">
                <h1 class="title has-text-centered section-title">About</h1>
            </div>
            <div class="columns is-multiline">
                <div class="column is-6 has-vertically-aligned-content" data-aos="fade-right">
                    <p class="is-larger">
                        <strong>I enjoy creating while re-evaluating the fundamentals.</strong>
                    </p>
                    <br />
                    <p>
                        Making a difficult concept easy to understand, or a complex system simple to use are my areas of
                        intrest.
                        I find discussions about <i>how we are meant to live as humans</i> fascinating.
                        <br>
                        <br>
                        Professionally I specialize in user interface design and development. Additionally I have
                        experience
                        with API architecture, implementation, and maintenance.
                        <br>
                        <br>
                        My hobbies include hand tool woodworking.
                    </p>
                    <br />
                    <div class="is-divider"></div>
                    <a class="contact-icon" href="https://github.com/bjschwarz"><i class="fab fa-github fa-lg"></i></a>
                    <a class="contact-icon" href="https://www.linkedin.com/in/bradley-schwarz-a19a19b8"><i
                            class="fab fa-linkedin fa-lg"></i></a>
                    <a class="contact-icon" href="mailto:bradleyschwarz1@gmail.edu"><i
                            class="fas fa-envelope fa-lg"></i></a>
                    <div class="is-divider"></div>
                    <form class="resume" action="/download_resume">
                        <button class="button">
                            Download Resume&emsp;<i class="fad fa-download fa-lg"></i>
                        </button>
                    </form>
                </div>
                <div class="column is-6 right-image " data-aos="fade-left">
                    <img class="is-rounded" src="{{ url_for('static', filename='img/workshop.jpg') }}" alt="" />
                </div>
            </div>
        </div>
    </div>
    <!-- Begin Skills Content -->
    <div class="section-dark skills" id="skills">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-12 about-me">
                    <h1 class="title has-text-centered section-title">Skills</h1>
                </div>
                <div class="column is-6" data-aos="fade-in" data-aos-easing="linear">
                    <h1>Python</h1>
                    <progress class="progress" value="85" max="100">30%</progress>
                    <h1>Flask</h1>
                    <progress class="progress" value="89" max="100">30%</progress>
                    <h1>Socketio</h1>
                    <progress class="progress" value="80" max="100">45%</progress>
                    <h1>Qt</h1>
                    <progress class="progress" value="75" max="100">60%</progress>
                </div>
                <div class="column is-6" data-aos="fade-in" data-aos-easing="linear">
                    <h1>UI/UX</h1>
                    <progress class="progress" value="85" max="100">30%</progress>
                    <h1>CSS</h1>
                    <progress class="progress" value="70" max="100">30%</progress>
                    <h1>VueJS</h1>
                    <progress class="progress" value="90" max="100">45%</progress>
                    <h1>Vuetify</h1>
                    <progress class="progress" value="95" max="100">60%</progress>
                </div>
            </div>
        </div>
    </div>
    <!-- End Skills Content -->
    <!-- Begin Work Content -->
    <div class="section-dark my-work" id="my-work">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-12">
                    <h1 class="title has-text-centered section-title">Portfolio</h1>
                </div>
                <div class="column is-4">
                    <a class="modal-button" data-target = "#modal">
                        <figure class="image is-2by1 work-item"
                            style="background-image: url({{ url_for('static', filename='img/QView.png') }});"></figure>
                    </a>
                    <div id = "modal" class="modal">
                        <div class="modal-background"></div>
                        <div class="modal-content">
                            <p class="image is-fullwidth">
                                QView
                                <img src="{{ url_for('static', filename='img/QView.png') }}" alt="">
                                An elaborate VMS like viewer application for Aqueti camera system. Written in Vuejs.
                            </p>
                        </div>
                        <button class="modal-close is-large" aria-label="close"></button>
                    </div>
                </div>

                <div class="column is-4">
                    <a class="modal-button" data-target = "#modal2">
                        <figure class="image is-2by1 work-item"
                            style="background-image: url({{ url_for('static', filename='img/QAdmin.png') }});"></figure>
                    </a>
                    <div id = "modal2" class="modal">
                        <div class="modal-background"></div>
                        <div class="modal-content">
                            <p class="image is-fullwidth">
                                QAdmin
                                <img src="{{ url_for('static', filename='img/QAdmin.png') }}" alt="">
                                An extensive Vue frontend for managing Aqueti camera systems.
                            </p>
                        </div>
                        <button class="modal-close is-large" aria-label="close"></button>
                    </div>
                </div>
                <div class="column is-4">
                    <a class="modal-button" data-target = "#modal3">
                        <figure class="image is-2by1 work-item"
                            style="background-image: url({{ url_for('static', filename='img/asis_architecture.png') }});">
                        </figure>
                    </a>
                    <div id = "modal3" class="modal">
                        <div class="modal-background"></div>
                        <div class="modal-content">
                            <p class="image is-fullwidth">
                                ASIS
                                <img src="{{ url_for('static', filename='img/asis_architecture.png') }}" alt="">
                                A Flask and python backend infastructure communicating with sockets and redis. Exposing a JWT secured Socketio API,
                                as well as WebRTC media channels. <a href="https://aqueti.github.io/asis/build/html/index.html">Documentation</a>
                            </p>
                        </div>
                        <button class="modal-close is-large" aria-label="close"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Content -->

{% endblock content %}